<!DOCTYPE html>
<html>
  <head>
    <title>RailsModuleSignin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user%>
      <a href="#"></a>
      <%= link_to current_user.name, '#' %>
      <%= link_to "logout", '#' %>
    <% else %>
      <a href="/login">Login</a>
    <% end %>
    
    <%= yield %>



  </body>
</html>
